.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  display: block;
  width: calc((100% - 6 * 31px) / 3);
  height: calc((100% - 6 * 31px) / 3);
  padding: 1px;
  margin: 30px;
  background-color: aquamarine;
}

.image {
  display: block;
  width: 100%;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.stats-item {
  display: flex;
  align-items: center;
}
