.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.image {
  width: 480px;
  height: 320px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.anchor {
  height: 5px;
}
